/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

html {display:block;}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: rgb(111,127,122);
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

#featured {
  margin: 0 auto;
  border-style: solid;
  border-color: grey;
  border-width: 5px;
}
.column {
  display: inline;
  border-width: 1px;
  border-color: rgb(111,127,122);
  

h1 {
  font-size: 100px;
  color: rgb(111,127,122);
}

h2 {
  color: rgb(111,127,122);
  font-size: 2em;
}
p {
  text-align: left;
}
/* Write all remaining styles here */